<h1>Sign Up!</h1>

<%= form_with model: @user, url: sign_up_path do |form| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
    <% @user.errors.full_messages.each do |message| %>
      <div><%= message %></div>
      <% end %>
    </div>
    <% end %>

  <%= form.label :email %>
  <%= form.text_field :email, placeholder: "Email" %>
  <%= form.label :password %>
  <%= form.password_field :password, id: "pass", class: "pass-box" %>
  <%= form.label :password_confirmation %>
  <%= form.password_field :password_confirmation, id: "pass-confirm", class: "pass-box" %>

  <div class="mt-2">
    <%= form.submit "Sign Up", class: "btn btn-primary" %>
  </div>
  <% end %>
  <button class="pass-toggle btn btn-secondary">Toggle</button>
<script>
  const pass = document.querySelectorAll(".pass-box")
  const passToggle = document.querySelector(".pass-toggle")

  passToggle.addEventListener("click", () => {
      for (let i = 0; i < 2; i++) {
          const attr = pass[i].getAttribute("type")
          pass[i].setAttribute("type", attr === "password" ? "text" : "password")
      }

  })
</script>